/* Normlise Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // global definition of 1 rem equals 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 7px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem =1 2
  }
}

/*
BUT ROOT FONT SIZE IS SET IN HTML 
Set all font settings in the body,
because font is inherited into all child elements,
better perfomance then setting it onto each element
*/

body {
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0rem;
  }
}
